
header{
   min-width: fit-content;
    display: flex;
    justify-content: space-evenly;
}


header>h4{

    flex-grow: 1;
}




table{

border: 10px solid black;
border-radius: 5%;

/* width:"100%" */

}
#logo{


    
}



button{

background-color: red;
border-radius: 10%;
color: beige;
height: 70px;
width: 150px;
}

#result1,#result2{
   text-align: center;
   width: 100%;
   font-weight: bolder;
   color: rgb(82, 12, 144);
   font-family: 'Times New Roman', Times, serif;
    border:10px solid rgb(0, 139, 116)
    
}
.numbermarks{
    /* size: 4; */
    width: 70px; 
    /* text-align: center; */
   margin-left: 30%;
    
}
h4{
    margin-left: 30%;
}

footer>div{
    margin-left: 70%;
    color: blue;
    align-items: center;
}


/* @media (max-width: ) {
    
} */